.arrow-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.arrow-wrapper button {
  background: #dcdfe3;
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 6px;
  text-align: center;
  text-decoration: none!important;
  vertical-align: middle;
}

.arrow {
  background-image: url('https://d1ivqy59bo7rzu.cloudfront.net/Amazon_ui-icon-sprite-sheet.png');
  background-size: 400px 900px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 15px;
}

.slide-left {
  composes: arrow;
  margin: 5px 6px 5px 5px;
  background-position: -123px -7px;
}

.slide-right {
  composes: arrow;
  margin: 5px 5px 5px 6px;
  background-position: -105px -7px;
}

.arrow-wrapper button:hover {
  background: #e0e3e8;
  background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
  background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
}

.arrow-wrapper button:focus {
  outline: 0;
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}