.amazon-words {
  background-image: url('https://d1ivqy59bo7rzu.cloudfront.net/Amazon_ui-icon-beacon_light.png');
  background-size: 512px 256px;
  background-repeat: no-repeat;
}

.prime-wrapper {
  position: relative;
  top: 2px;
  margin: 0 0 0 5px;
}

.prime {
  composes: amazon-words;
  width: 42px;
  height: 12px;
  background-position: -154px -52px;
  display: inline-block;
}
